body{
    background-color:rgb(140, 140, 118);
    background-repeat: no-repeat, repeat;
    background-size:cover;
    

}

h3{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color:rgb(209, 12, 12);
    padding-top:30px;
}

h2{
    color:red;
    padding-right:100px;
}

button{

    color:#000000;
    height: 25px; 
    Width:  150px;
    font-size: 15px;
    background-color:rgb(219, 149, 221);  
}

.container{
    background-color:rgb(197, 224, 197);
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 30px;
    height:100px;
    width:800px;
}

.container1{
    background-color:rgb(197, 224, 197);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    height:100px;
    width:800px;
}
.main{
    background-color:rgb(204, 201, 171);
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 60px;
    height:500px;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 60%;
    border: 5px solid #7eccc680;  
}
   

.container4{
    background-color:rgb(233, 232, 194);
    padding-left: 130px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    height:80px;
    width:600px;

}


.container5{
    background-color:rgb(233, 232, 194);
    padding-left: 130px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    height:150px;
    width:600px;

}

textarea{
    width:400px;
    height:100px;
}